@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

/* General Styles */
* {
    box-sizing:border-box;
    padding:0;
    margin:0;
    max-width:100%;
}
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    font-family: 'Roboto Mono', monospace;
}

h1 {
    font-family: 'Chelsea Market', cursive;
}

a {
    text-decoration: none;
}
/* End General Styles */
/* Header Styles */

header nav {
    display: inline-block;
    width: 100%;
    margin-left: 20%;
}

h1 {
    font-size: 15px
}

.yosemite-park img {
    max-width: 8%;
    border-radius: 75px;
    margin-left: 8%;
}

a {
    margin: 3rem;
    padding: 1%;
    color: white;
}
.plan {
    background: #FF764E;
    border-radius: 10%;
}

.learn {
    background: #5ED3EB;
    border-radius: 15%; 
}

.involved {
    background: #FFCD69;
    border-radius: 15%; 
}
/* main styles */

.main {
    background: #DDB9A3;
    color: white;
    border: solid 1px #DDB9A3; 
    margin: 0 auto;  
}